body {
  background-color: #f8f8f8; /* Light grey */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 7px;
  font-family: Arial, sans-serif;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  z-index: auto;
}

td {
  font-size: 1em;
  line-height: 1.6;
}

div {
  text-align: center;
}

li {
  color: black;
  font-size: 1em;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Devonshire', Georgia;
}

header a .image1 img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

td, th {
  border: 1px solid;
  color: #00ffce;
  font-family: "Arial", cursive;
}
